@charset "UTF-8";

#i2 {
	background-color: black;
	color: white;
	font-size: 20px;
}

/* 모든 테이블 */
table {
	width: 80%; margin-bottom: 10px;
}

/* #아이디*/
table#firstTable tr td {
	border: 1px solid blue;
	border-top: 2px dotted #ff0;
	border-bottom: 3px dashed rgb(0, 0, 0,);
}

b {
	font-size: 8px;
}

div b{
	font-size: 16px;
}

div > b {
	font-size: 16px;
	color: red;
}

div span > b {
	font-size: 32px;
}

div b.hello {
	font-size: 40px; color : yellow;
}

i,strong {
	color: rgb(0%, 0%, 90%);
}

div#sajin {
	height: 150px;
	background-image: url("../images/1.jpg");
}

img {
	border: 5px dotted red;
}

/* 동적 선택자 */
input:focus {
	background-color: #aabbcc;	
}

a:link {
	/* text-decoration: line-through; */
	text-decoration: none;
}

a:active {
	color: yellow;
	font-family: 돋움;
}

a:hover {
	color: silver;
	font-size: 10pt;
}